
*{margin: 0;}
  
/* .container{
    overflow: hidden;
    width: 95%;
    height: 100vh;
    position: relative;
}
video{
    object-fit: cover;
    width: 95vw;
    height: 100vh;
    top: 0;
    left: 0;
} */
/* h1{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 300px;
    width: 95%;
    mix-blend-mode: screen;
    background: #fff;
} */
/* .background{
    position: relative;
    height: 100vh;
    width: 95%;
} */
.Home{
    width: 99vw;
    height: 93vh;
}
.btn-primaryy{
    border-radius: 15px;
    border: 1px solid gray;
    padding: 5px 10px;
    color: white;
    background-color: gray;
    margin: 10px 0;
}
.btn-primaryy:hover{
    cursor: pointer;
    background-color: rgb(82, 82, 82);
}
.btn-primaryy:active{
    background-color: rgb(219, 219, 219);
}
.banner{
    margin-top: 80px;
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.video-container{
    width: 99vw;
    height: 80vh;
    object-fit: cover;
}
.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-text{
    margin-top: -62px;
    background-color: white;
    position: absolute;
    top: 8.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    overflow: hidden;
    mix-blend-mode: screen;
}
.font3d{
    font-family: 'Sho-CardCapsNF', monospace;
    font-size: 250px;
    letter-spacing: -10px;
    font-weight: 900;
  }
  .birdsLeftTop{
    width: 200px;
    position: absolute;
    top: 16%;
    right: -5vw;
    transform: scaleX(-1);
    animation: birdy 35s linear infinite forwards;
  }
  .birdsLeftTop2{
    width: 500px;
    position: absolute;
    top: 10%;
    right: -80px;
    transform: scaleX(-1);
    animation: birdy 30s linear infinite forwards;
  }
  .cloud{
    width: 250px;
    /* height: 150px; */
    position: absolute;
    animation: cloudy 100s linear infinite forwards;
  }



  @keyframes birdy{
    0%{
        transform: translate(30%);
    }
    100%{
        transform: translate(-110vw);
    }
  }
  @keyframes cloudy {
    0%{
        transform: translate(30%);
    }
    100%{
        transform: translate(110vw);
    }
  }