@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Sho-CardCapsNF';
    src: url('/public/font/SirinStencil-Regular.ttf') format('opentype');
  }
@font-face {
    font-family: 'Mina_is_gone';
    src: url('/public/font/Mina_is_gone.ttf') format('opentype');
  }
  html{
    scroll-behavior: smooth;
  }